# Database
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DATABASE_URL=

# Redis
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=

# RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=
RABBITMQ_PORT=

# App
NODE_ENV=
APP_PORT=
JWT_SECRET=